.grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr 5fr;

    grid-template-areas: 
    'header header'
    'sidebar content'
    'footer footer'
    
    
    ;
    
}

.header-item{
    background-color: greenyellow;
    grid-area: header;
}
.content-item{
    background-color: aqua;
    grid-area: content;
}
.footer-item{
    background-color: tan;
    grid-area: footer;
}
.sidebar-item{
    background-color: rebeccapurple;
    grid-area: sidebar;
}