body{
    background-color: rgb(79, 76, 76);
}.box{
    background-color: aliceblue;
    width: 100px;
    height: 100px;
    animation-name: animate1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;

}

@keyframes animate1{
    from {
        width: 100px;
    }
    to{
        width: 400px;
    }
}