body{
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.box{
    background-color: aliceblue;
    width: 100px;
    height: 100px;
    transition-property: background-color;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    
    transition: width 2s,height 2s ease-in 2s;
    

}
.box:hover{
    background-color: aqua;
    width: 500px;
    height: 200px;
}